@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h1>MyMap</h1>
<div id="map"></div>
<script>
        function initMap() {
            var basePoint = { lat: 43.060477, lng: -87.887645 }         //change basePoint to the headquarters, make basePoint first location in the array
            var options =
                {
                    center: basePoint,
                    zoom: 11
                }
            map = new google.maps.Map(document.getElementById('map'), options);


    //google.maps.event.addListener(map, 'click', function (event) {
    //    placeMarker(event.latLng, "Click title");
    //});

    var cords = [];      //pass in locations from Db
    var cord1 = {lat:43.066834, lng:-87.878332};
    cords.push(cord1);
    var cord2 = {lat:43.060477, lng:-87.887645};
    cords.push(cord2);

    for (var i = 0; i <= cords.length; i++)
    { placeMarker(cords[i], "Marker Number" + i + 1); }

    function placeMarker(location, title)
    {
      // if (marker != null) { marker.setMap(null); }    //  this removed a marker if you wanted to replace previous markers with clicks
        marker = new google.maps.Marker({
            position: location,
            animation: google.maps.Animation.DROP,
            title: title,
            draggble: false
        });
        marker.setMap(map); }
        }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBycNjxsf61mG3nhPLvyHRUb2MuMHoFipk&callback=initMap"
        async defer></script>





