@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Property Management Help Center<br />
    Milwaukee, WI 53202<br />
    <abbr title="Phone">P:</abbr>
    (414)DEV-HELP
    (414)338-4357
</address>

<address>
    For email support, please send message with a short description as subject and a detailed description of the issue in the message.<br/>
    <strong>Support:</strong>   <a href="mailto:devseleniumhelpdesk@gmail.com">devseleniumhelpdesk@gmail.com</a><br />
</address>