@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Property Management Help Center<br />
    Milwaukee, WI 53202<br />
    <abbr title="Phone">P:</abbr>
    (414)DEV-HELP
    (414)338-4357
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:devseleniumhelpdesk@gmail.com">devseleniumhelpdesk@gmail.com</a><br />
</address>