@{
    ViewBag.Title = "Home Page";
}
<div class=" container">
<div class="jumbotron" style="background-image: url('../../Content/Images/homeimage.jpg');"  >>
    
</div>
    </div>


<div class="row">
    <div class="col-md-4">
        <h2>Create an account</h2>
        <p>
            Click here to create a tenant account. 
        </p>
        <p> @Html.ActionLink("Create Account", "RegisterLeaseHolder", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Submit a work order</h2>
        <p>Submitting a work order through our webform is fast and easy.</p>
        <p>@Html.ActionLink("Submit Work Order", "Submit", "WorkOrder", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Pay Rent</h2>
        <p>Pay your rent with a click of a button!</p>
        <p>@Html.ActionLink("Pay Rent", "PayRent", "LeaseHolder", null, new { @class = "btn btn-default" })</p>
    </div>
</div>